body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('./background_photo_desktop.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  padding: 5px 5px;
  position: fixed;
  z-index: 9;
  width: 90%;
  margin-top: 10px;
  background-color: rgb(246, 246, 217);
  text-align: center;
  font-family: 'Monaco', monospace;
  font-size: 4.5rem;
  color: rgb(32, 165, 165);
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 15px;
  border: 2px solid rgb(29, 70, 83);
}

header h1 .highlight {
  color: rgb(29, 70, 83);
  font-family: 'Monaco', monospace;
}

article {
  display: flex;
  justify-content: center;
  padding: 100px;
}

section {
  padding: 50px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  body,
  html,
  #root {
    width: 768px;
  }

  html {
    font-size: 16px;
  }

  .container {
    width: 768px;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  body,
  html,
  #root {
    width: 425px;
  }

  html {
    font-size: 12px;
  }

  .container {
    width: 425px;
  }
  header h1 {
    width: 100%;
    font-size: 12.5vw;
    text-align: center;
  }
}
