body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  position: fixed;
  width: 90%;
  z-index: 9;
  margin: 40px;
  padding: 0.7rem;
  background-color: rgb(246, 246, 217);
  text-align: center;
  font-family: 'Monaco', monospace;
  font-size: 4.5rem;
  color: rgb(32, 165, 165);
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 15px;
}

h1 .highlight {
  color: rgb(29, 70, 83);
  font-family: 'Monaco', monospace;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background_photo_desktop.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  filter: blur(0px);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
